.imagenes{
    border-radius: 15px;
    margin: 15px;
    width: 200px;
    height: 200px;
    float: left;
}
#galeria{
    text-align: center;
}
#galeria .contenedor{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;

}

#galeria .contenedor article{
    margin-top: 70px;
}

/*Galeria imagenes con descripcion*/
#descripcion{
    margin-top: 50px;

}

#descripcion .imagenes{
    width: 650px;
    height: 50%;
}

#descripcion p{
    margin-top: 20px;
    text-align: left;
    font-weight: bold;
}

/*galeria de la propia obra*/
#galeria-obra{
    text-align: left;

}

#galeria-obra h2{
    font-family: cursive;
}
