
.barramenu a{
    display: block;

    padding: 10px;
    text-decoration: none;
    border-bottom: solid 1px rgb(255, 255, 255,0.3);
}

.barramenu a:hover{
    background: rgb(255, 255, 255,0.3);
    transition: 0.5s;
}

@media  screen and (min-width:0px) and (max-width:720px){
    #nombre-pagina{
        display: none;
    }
    #btnBuscar{
        display: none;
    }
}