#registro{
    margin-top: 10px;
    background: rgb(50, 149, 241);
    padding: 40px;
    font-family: sans-serif;
    text-align: center;
}

.titulo-registro{
    margin-top: 10px;
    background: coral;
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    border-bottom: solid 2px black;
    border-radius: 5px;
}
.form-registro{
    margin-top: 20px;
    margin-left: 20px;
    width: 90%;
    background: coral;
    border-radius: 6px;
}

.contenedor-input{
    padding: 10px 20px;
    display: block;

}

.contenedor-input input{
    padding: 20px;
    margin-bottom: 40px;
}

.col-xl{
    width: 100%;
}